.wrapper{
    flex:4;
    margin-right:100px;


}
wrapper1{
    padding:20px;
    margin-right:100px;
    flex:4;
    width:100%;

}
.feedTitle{

    font-size: 50px;
    margin-left: 10px;

}
.topPart{
    display: flex;
    justify-content: space-between;
}
.productSearchbox{
    margin-left: 20px;
    margin-top: 25px;
    border-color: #871d4d;
    border-style: solid;
    border-radius: 20px;
    height: 32px;
    width: 300px;
    flex: 1;
    margin-left: 20px;
}
.productwrapper{
    background-color:white;
    height: 300px;
    width: 200px;
    border-radius: 20px;
    -webkit-box-shadow: 1px 5px 23px -6px rgba(0,0,0,0.92);
    box-shadow: 1px 5px 23px -6px rgba(0,0,0,0.92);
    margin-left: 20px;
    display:flex;
    margin-top:10px;
    margin-bottom: 30px;

}
.productDesc{
    font-family: "Roboto Light";
    font-size:16px;
    margin-left:20px;
    margin-top: 10px;
}

.productTitle{
    font-size:25px;
    margin-left:20px;
    margin-top: 10px;
}
.image{
    height:280px;
    width:300px;
    margin-left: 28px;
    margin-top: 20px;
    border-radius:10px;
    margin-bottom: 20px;
}
.contact{
    margin-left:40px;


}
.row{
    justify-content:space-between;

}
.price{
    font-size:25px;
    margin-left:20px;
    margin-top: 20px;
}
.content{
    display: block;
    margin-top: 100px;
}
.wrapper1{
    width: 100%;
    }
.searchIcon{
    margin-left: 10px;
}
.feedTitle{
    font-size:10px;
    font-family: "Arial";
}