.loginR{
    width:100vw;
    height:100vh;
    background-color: #d52374;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loginwrapperR{
    width: 70%;
    height:70%;
    display: flex;

}
.loginLeftR,.loginrightR{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.loginLogoR{
    font-size: 120px;
    font-weight: 800;
    color: white;
    margin-bottom: 10px;
}
.loginDescR{
    font-size:30px;
    color: white;
    font-family: "Roboto Light";
    width:380px;
}

.loginBoxR{
    height:1200px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.loginInputR{
    height:50px;
    border-radius: 10px;
    border: 1px solid grey;
    font-size: 18px;
    padding-left: 20px;
    margin-top: 10px;
}
.loginInputR:focus{
    outline:none;
}
.loginButtonR{
    height:50px;
    border-radius: 10px;
    background-color: #a44df1;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor:pointer;
    border:none;
}
.loginForgotR{
    text-align: center;
    color:blue;
    cursor:pointer;
}
.registerButtonR{
    height:50px;
    border-radius: 10px;
    background-color: #a44df1;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor:pointer;
    border:none;
}
.buttntextR{
    color: white;
    text-decoration: none;
    margin-left: 180px;

}
.buttntextR:hover{
    color: white;
}
.textcontatinrR{
    margin-top: 10px;
}
.reNow{
    margin-left: 100px;
    color:white;
    font-family: "Roboto Light";
}