.topbarcontainer{
    height:50px;
    width:100%;
    background-color: #871d4d;
    display:flex;
    position:sticky;
    top:0;
    z-index: 999;

}

.topbarLeft{
    flex:2;
}
.topbarCenter{
    flex:5;
    display: flex;
}
.topbarRight{
    flex:4;
    display: flex;
    align-items: center;
    justify-content:space-around;
    color:white;
}
.logo{
    font-size:40px;
    font-weight: bold;
    color:white;
    cursor: pointer;
    color: #FFFFFF;
    text-decoration: none;
}
.logo:hover{
    text-decoration: none;
    color: #f3b0b0;
}
.searchbox{
     width:80%;
     height:30px;
     background-color:white;
     border-radius: 30px;
     display: flex;
     align-items: center;
     margin-top: 10px;

}
.searchInput{
    border:none;
    width:70%;
    
}
.searchIcon{
     font-size: 20px !important; 
     margin:left;
}

.searchInput:focus{
    outline:none;
}
.topbarImg{
    width:40px;
    height:40px;
    border-radius: 40px;
    cursor: pointer;
    object-fit: cover;
    margin-bottom: 15px;
    border-style:solid;
    border-color: #ee73a9;


}

.topbarLink{
    margin-right: 10px;
    
    cursor: pointer;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
}
.topbarLink:hover{
    color: #eca8a8;
}
.topbarIcons{
    display: flex;
    margin-top: 15px;

}
.topbariconItem{
    margin-right: 15px;
    cursor: pointer;
    position:relative;
    margin-top:15px;
    color:white;
}
.topbariconBadge{
    width: 15px;
    height: 15px;
    background-color:red;
    border-radius: 50%;
    color:white;
    position:absolute;
    top:-5px;
    right:-5px;
    align-items:center;
    font-size: 12px;
}
.topbarLink2{
    margin-right: 10px;
    font-style: 14px;
    cursor: pointer;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    margin-top:10px;
}
.logoCont{
    margin-top: -5px;
    margin-left: 5px;
}
.inmode{
    background-color: #b83d73;
    border-radius: 10px;
}
.topbarLink1{
    margin-right: 10px;

    cursor: pointer;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    margin-left: 5px;
}
.inmode:hover{
    background-color: #fc7e07;
    }
.topbarLink1:hover{
    color: #f8dce7;
}